
#Sublime & Mono build noise
obj/
*.sublime-workspace

Android/app/assets/bin/Data
libmono.so
libunity.so

Assembly-CSharp.csproj

.DS_Store

Temp/

Library/

*.sln

*.csproj

*.pidb

*.userprefs

.mayaSwatches/

*.swatch

iOSBuild/
Assets/smcs.rsp
Assets/smcs.rsp.meta
.vs
